.container {
    border: 3px dotted cornflowerblue;
    
    width: 80%;
    height:auto;
}

h1,
h2 {
    text-align: center;
    font-style: italic;
}

#game {
    text-align: center;
    line-height: 15px;
}