.container {
    border: 6px dotted cornflowerblue;
}

h1,
h2 {
    text-align: center;
    font-style: italic;
    margin: 10px;
}

#game {
    text-align: center;
    line-height: 15px;
    margin-top: 20px;
}